
.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.btn-normal{
    display: block;
    width: 80%;
    height: 40px;
    margin: 20px auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 10px;
    background-color: #000;
    border: $border;
    transition: .2s;
    cursor: pointer;
}
@include hover{
    .btn-normal:hover{
        background-color: transparent;
        color: #000;
        border: $borderHover;
    }
}

%navigation{
    @include flex (row, 0, no-wrap);
    justify-content: space-between;
}

.modallogin{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1000;

    &__flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 10px 20px #000;
        transition: all 2s ease;
    }
}

.imgShown{
    position: absolute;
    right: 0;
    z-index: 100;
    animation: showImg 9s ease 1s 1 forwards;
    
}

@keyframes showImg{
    0%{
        z-index: 0;
        left: 100px;
        filter: blur(100px);
    }
    10%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    20%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    30%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    40%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    50%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    60%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    70%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    80%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    90%{
        z-index: 100;
        left: 0;
        filter: blur(0);
    }
    100%{
        z-index: 0;
        left: 100px;
        filter: blur(100px);
    }

}

.well__logo{
    font-family: Inconsolata;
    display: flex;
    align-items: center;
    span{
        font-weight: 900;
    }
    i{
        width: 40px;
        display: inline-block;
    }
}