.header{
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;

    &__bgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100px;
    filter: blur(100px);
    object-fit: cover;
        &Details{
                position: absolute;
                width: 100%;
                height: 100%;
                filter: opacity(.5);
        }
    }
    &__content{
        position: absolute;
        z-index: 100;
        max-width: 90%;
        width: 800px;
        top: 100px;
        left: 100px;
        color: #fff;
        padding: 10px;
        box-sizing: border-box;
        @include media(40rem){
            top: 100px;
            left: 50px;
        }   
    }
    &__title{
        margin-bottom: 10px 0 0 40px;
        text-wrap-mode: nowrap;
    }   
    &__slo{
        margin-bottom: 40px;
    }
    &__subscribe{
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        letter-spacing: 5px;
        font-family: Poppins;
        font-weight: bold;
        color: #000;
        transition: .5s;
        &:hover{
            background-color: transparent;
            color: #eee;
            border: 2px solid #fff;
        }
    }
    &__summary{
        p{
            letter-spacing: 10px;
            color: #ffffff;
            @include fontsize(10px,1.6vw,2.1vw);
        }
        b{
            font-weight: 900;
            text-decoration:underline;
        }
    }
    &__enDate{
        color: #ffffff;
        font-weight: 900;
        padding-bottom: 10px;
        @include fontsize(10px,1.6vw,2.1vw);
        text-decoration: underline;
    }
    &__link{
        display: block;
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        padding-top: 10px;
        box-sizing: border-box;
        cursor: pointer;
        letter-spacing: 5px;
        font-family: Poppins;
        font-weight: bold;
        color: #000;
        transition: .5s;
        margin-top: 20px;
        &:hover{
            background-color: transparent;
            color: #eee;
            border: 2px solid #fff;
        }
    }
}



.well{
    background-color: $bgcolor;
    &__flex{
        display: flex;
        justify-content: space-between;
    }
}

.mov{
    height: 100svh;
    display: grid;
    grid-template-columns: 300px 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    &__nav{
        padding: 10px;
        box-sizing: border-box;
        max-height: 100svh;
        background-color: #000;
        color: #fff;
        background-color: $bgcolor;
        position: sticky;
        top: 0;
        width: 100%;
    }
    &__li{
        margin: 60px -10px 0 40px;
        height: 40px;
        box-sizing: border-box;
        padding: 10px 0;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:nth-child(1){
            height: 50px;
        }

        &--active{
            background-color: $bgcolorSecon;
            position: relative;
            border-radius: 20px 0 0 20px;
            box-sizing: border-box;
            padding-left: 20px;


            &::before{
                content: "";
                text-decoration: none;
                height: 10px;
                width: 10px;
                background-color: $bgcolor;
                position: absolute;
                right: 0;
                top: -10px;
                border-radius: 0 0 10px 0;
                box-shadow: 5px 5px 0 5px $bgcolorSecon;
            }
            &::after{
                content: "";
                height: 10px;
                width: 10px;
                background-color: $bgcolor;
                position: absolute;
                right: 0;
                bottom: -10px;
                border-radius: 0 10px 0 0;
                box-shadow: 5px -5px 0 5px $bgcolorSecon;
            }

        }

    }
    &__pageNav{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        &Pre, &Nex{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #9995;
            text-align: center;
            box-sizing: border-box;
            padding-top: 10px;
            cursor: pointer;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 900;
            transition: all .5s ease;
            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 10px;
        background-color: $bgcolorSecon;
        gap: 10px;
        border-radius: 10px;
    }
    &__card{
        border: 1px solid #000;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #2e87a186;
        height: 500px;
    }
    &__cardImg{
        display: block;
        max-width: 250px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    &__title{
        font-family: Poppins;
        letter-spacing: 2px;
        font-weight: 900;

    }
    &__categoryFlex{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
    }
    &__cardcategory{
        display: block;
        height: 30px;
        width: 70px;
        border-radius: 10px;
        text-align: center;
        border: 1px solid #000;
        font-size: 10px;
        box-sizing: border-box;
        padding-top: 5px;



    }
    &__cardButton{
        display: block;
        margin: 0 auto;
        width: 80%;
        border-radius: 10px;
        height: 40px;
        background-color: aqua;
        box-sizing: border-box;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        font-family: Popins;
        letter-spacing: 2px;
        transition: all .5s;
        text-decoration: none;
        border: 1px solid #fff;
        color: #fff;
        &:hover{
            background-color: transparent;
        }
        &:visited{
            background-color: $bgcolor;
        }
    }
}