.nav{
    &__flex{
        @include flex (row, 0, nowrap);
        justify-content: space-between;
    }
    &__title{
        font-size: 40px;
        &Span{
            font-weight: 900;
        }
    }
    &__logoSvg{
        display: inline-block;
        width: 40px;
    }
    &__ul{
        @include flex (row, 40px, nowrap);
        align-items: center;
    }
}